@import '../shared/styles/colors';

.grades-class {
  border: 1px solid #E1E1E1;
  margin: 5px 20px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  color: $medium-grey;
  cursor: pointer;
}

.space {
  height: 20px;
  background-color: transparent;
}
