@import "../shared/styles/colors";

.title-month {
  margin: 20px 20px 10px 20px;
  border-bottom: 2px solid $light-grey;
  color: $medium-grey;
}

.title-year {
  float: right;
  color: $medium-grey;
}

.comments {
  margin: 20px 20px 20px 20px;
  display: inline-block;
  width: -moz-calc(100% - 40px); /* Firefox */
  width: -webkit-calc(100% - 40px); /* Chrome, Safari */
  width: calc(100% - 40px); /* IE9+ and future browsers */
}
