@import '../../shared/styles/colors';

:host {
  background-color: $blue;
  color: white;
  display: block;
  height: 48px;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
  margin: 0;
}

.toolbar-name {
  float: right;
}
