@import '../../shared/styles/colors';

:host {
  border: 0 solid $light-grey;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

.material-icons {
  margin-top: 10px;
  margin-right: 8px;
  float: left;
}

.nav-tab-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
}

.nav-tab {
  display: inline-block;
  color: $medium-grey;
  cursor: pointer;
}

.nav-tab.router-link-active {
  color: $blue;
}
